
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left,#right{
    width: 300px;
    border: 2px dashed white;
    min-height: 400px;
    margin: 20px;
    
}
.list{
    background: #e91e63;
    height: 40px;
    margin: 20px;
    columns: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img{
    width: 30px;
    margin-right: 15px;
    margin-left: 20px;
}